@{
    ViewBag.Title = "Excel Report";
}
<link href="~/css/style.css" rel="stylesheet" type="text/css" />
<h2>Upload Excel and View Report</h2>

<!-- File upload form -->
<div>
    <input type="file" id="fileUpload" />
    <button id="uploadBtn">Upload</button>
</div>

<!-- Report container -->
@* <div id="reportContainer"></div> *@


<div id="dialog" title="Report Viewer" style="display:none;">
    <div id="reportContainer" class="table-scroll"></div>
</div>


<!-- Include jQuery first -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include jQuery UI (needed for resizable and draggable columns) -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<!-- Reference ExcelJS Library -->
<script src="https://cdn.jsdelivr.net/npm/exceljs@4.2.0/dist/exceljs.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/dragtable@1.1.4/js/dragtable.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<!-- Include your custom JavaScript file -->
<script src="~/js/app.js"></script>
